<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>distutils</string>
		<string>site-packages</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>_abcoll.py</string>
		</array>
		<array>
			<string>_weakrefset.py</string>
		</array>
		<array>
			<string>abc.py</string>
		</array>
		<array>
			<string>codecs.py</string>
		</array>
		<array>
			<string>copy_reg.py</string>
		</array>
		<array>
			<string>fnmatch.py</string>
		</array>
		<array>
			<string>genericpath.py</string>
		</array>
		<array>
			<string>linecache.py</string>
		</array>
		<array>
			<string>locale.py</string>
		</array>
		<array>
			<string>no-global-site-packages.txt</string>
		</array>
		<array>
			<string>ntpath.py</string>
		</array>
		<array>
			<string>orig-prefix.txt</string>
		</array>
		<array>
			<string>os.py</string>
		</array>
		<array>
			<string>posixpath.py</string>
		</array>
		<array>
			<string>re.py</string>
		</array>
		<array>
			<string>site.py</string>
		</array>
		<array>
			<string>sre.py</string>
		</array>
		<array>
			<string>sre_compile.py</string>
		</array>
		<array>
			<string>sre_constants.py</string>
		</array>
		<array>
			<string>sre_parse.py</string>
		</array>
		<array>
			<string>stat.py</string>
		</array>
		<array>
			<string>types.py</string>
		</array>
		<array>
			<string>UserDict.py</string>
		</array>
		<array>
			<string>warnings.py</string>
		</array>
	</array>
</dict>
</plist>
